@layer reset, global,components,utilities;

@import url("./reset.css") layer(reset);

@layer global {
  :root {
    --content-width: 75rem;
    --color-text: #181818;
    --color-text-muted: #595566;
  }

  html {
    line-height: 1.475;
    color: var(--color-text-muted);
  }
}

:root {
  /*COLORS:*/
  /*FONTS*/
  --white: #fff;
  --black: #181818;
  --darkgrey_: 595566;

  /**BACKGROUNDS*/
  --green_bg: #4eaf4e;
  --yellow_bg: #ffcc4a;
  --lightgrey_bg: #f5f5f5;
  --fog_bg: rgb(255, 255, 255, 0.85);
  --white_bg: #fff;
  --black_bg: #181818;
}
