@layer reset, global,components,utilities;

@import url("./reset.css") layer(reset);

@layer global {
  :root {
    --content-width: 75rem;
    --color-text: #181818;
    --color-text-muted: #595566;
  }

  html {
    line-height: 1.475;
    color: var(--color-text-muted);
  }
}
