---
import Base from "../components/Base.astro";
import DisplayText from "../components/DisplayText.astro";
import IdeasDiv from "../components/IdeasDiv.astro";
import NumBelt from "../components/NumBelt.astro";
import CoreBigDiv from "../components/CoreBigDiv.astro";
import VideoDivBig from "../components/VideoDivBig.astro";
import OurTeam from "../components/OurTeam.astro";
import ConsultBox from "../components/ConsultBox.astro";
---

<Base>
  <section class="full">
    <div>
      <img src="" alt="Top billede" />
      <DisplayText />
    </div>

    <IdeasDiv />
    <NumBelt />
    <CoreBigDiv />
    <VideoDivBig />
    <OurTeam />
    <ConsultBox />
  </section>
</Base>

<style>
  section {
    background: lightcoral;

    display: grid;
    grid-template-columns:
      [full-start]1fr
      [content]minmax(0, var(--content-width))
      1fr [full-end];
    gap: 1rem;

    > * {
      grid-column: content;
    }

    .full {
      grid-column: full;
    }
  }
</style>
