---
import Base from "../components/Base.astro";
import DisplayText from "../components/DisplayText.astro";
import IdeasDiv from "../components/IdeasDiv.astro";
import NumBelt from "../components/NumBelt.astro";
import CoreBigDiv from "../components/CoreBigDiv.astro";
import VideoDivBig from "../components/VideoDivBig.astro";
import OurTeam from "../components/OurTeam.astro";
import ConsultBox from "../components/ConsultBox.astro";
---
<<<<<<< HEAD
<Base>
<div>
    <img src="" alt="Top billede">
    <DisplayText name="hdhfh" imgPath="src/assets/images/header_1.png"/>
</div>
=======
>>>>>>> 4d2a37435a189c2c8c6875bba5cb305daeb36394

<Base>
  <div>
    <img src="" alt="Top billede" />
    <DisplayText />
  </div>

  <IdeasDiv />
  <NumBelt />
  <CoreBigDiv />
  <VideoDivBig />
  <OurTeam />
  <ConsultBox />
</Base>
<style></style>
