---
import DisplayText from "../components/DisplayText.astro";
import IdeasDiv from "../components/IdeasDiv.astro";
import NumBelt from "../components/NumBelt.astro";
import CoreBigDiv from "../components/CoreBigDiv.astro";


---
<div>
    <img src="" alt="Top billede">
    
</div>
