---
import DisplayText from "../components/DisplayText.astro";
import CaseNav from "../components/CaseNav.astro";
import CaseContent from "../components/CaseContent.astro";
import SubscribeBox from "../components/SubscribeBox.astro";
import MoreCase from "../components/MoreCase.astro";
---
<div>
    <img src="" alt="Top billede">
    <DisplayText/>
</div>
<CaseNav/>
<CaseContent/>
<SubscribeBox/>
<MoreCase/>