---
import DisplayText from "../components/DisplayText.astro";
import FinacialBox from "../components/FinacialBox.astro";
import FourGrid from "../components/FourGrid.astro";
import ExpectBox from "../components/ExpectBox.astro";
import BrandBelt from "../components/BrandBelt.astro";
import StrategyBox from "../components/OurTeam.astro";
import ContactBox from "../components/ContactBox.astro";
import QuestBox from "../components/QuestBox.astro";
---
<div>
    <img src="" alt="Top billede">
    <DisplayText/>
</div>
<FinacialBox/>
<FourGrid/>
<ExpectBox/>
<BrandBelt/>
<StrategyBox/>
<ContactBox/>
<QuestBox/>