---
import DisplayText from "../components/DisplayText.astro";
import TeamBox from "../components/TeamBox.astro";
import ReadyBox from "../components/ReadyBox.astro";
---
<div>
    <img src="" alt="Top billede">
    <DisplayText/>
</div>
<TeamBox/>
<ReadyBox/>