---
// ikke vores men skal sættes op sådan (const { cardContent } = Astro.props;)
---
<article>
<h2>article title</h2>
<p>article content goes here</p>
<footer>
<p>published on 
<time datetime="2024-01-01">January 1, 2024</time>
</p>
</footer>
</article>

<style>
    article{
        background: blue;
        border: ;
        padding: ;
        margin: ;

        h2{

        }
    }

</style>