---
import PillHeading from "PillHeading.astro";
import ContactInfo from "ContactInfo.astro";
import ContactPics from "ContactPics.astro";
---

<p>ContactBox</p>
<PillHeading />
<ContactInfo />
<ContactPics />

<style></style>
