---
import PillButton from "components/PillButton.astro";
import FourGrid from "components/FourGrid.astro";
import PillHeading from "./PillHeading.astro";
---

<p>CoreBigDiv</p>

<PillHeading />
<PillButton />
<FourGrid />

<style></style>
