---
import PillButton from ".PillButton.astro";
import FourGrid from "./FourGrid.astro";
import PillHeading from "./PillHeading.astro";
---

<p>CoreBigDiv</p>

<PillHeading />
<PillButton />
<FourGrid />

<style></style>
