---
import PillHeading from "./PillHeading.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**/*.{jpeg,jpg,png,gif}");
const { description, imgPath } = Astro.props;
if (!images[imgPath]) throw new Error(`"${imgPath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`);
---

<article class="card">
  <PillHeading text="services" color="" />
  <p>{description}</p>
  <Image src={images[imgPath]()} alt={"name"} />
</article>

<style>
  /**BOX AROUND PILL AND TEXT */
</style>
