---
import PillHeading from "./PillHeading.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**/*.{jpeg,jpg,png,gif}");
const { alt, imgPath, body = "text" } = Astro.props;
if (!images[imgPath]) throw new Error(`"${imgPath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`);
---

<article class="card">
  <PillHeading text="SERVICES" color="yellow" />
  <p>{body}</p>
  <Image src={images[imgPath]()} alt={alt} />
</article>

<style>
  /**BOX AROUND PILL AND TEXT */
</style>
