---
import IdeasPic from "./IdeasPic.astro";
import PillHeading from "./PillHeading.astro";
import CheckText from "./CheckText.astro";
---

<PillHeading />
<h2>Turn your ideas into reality.</h2>
<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
<CheckText />
<CheckText />
<IdeasPic />
