---
const{color}=Astro.probs;

---

<h2 style=`style="--bg:${color}"`><slot/></h2>


<style>
        /**NOT DONE */
    h2 {
    display: flex;
    width: 167px;
    padding: 15px 34px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    }

</style>