---
//const { color } = Astro.probs;
---

<!--**NOT DONE
<h2 style=`style="--bg:${color}"`><slot /></h2>-->
<style>
  /**NOT DONE */
  h2 {
    color: #181818;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }
</style>
