---
const { text, color } = Astro.props;
---

<div>{text}</div>
<style>
  /**NOT DONE */
  div {
    color: #181818;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }
</style>
