---
const{color}=Astro.probs;

---
    /**NOT DONE */
<h2 style=`style="--bg:${color}"`><slot/></h2>


<style>
    /**NOT DONE */
h2{

        background-color: black;
        border-radius: 150px;
        color: #ffffff;
        padding: 2%;
        font-size: 1rem;
        width: 10cqw;
        height: 2cqw;

}

</style>