---
import PillHeading from "./PillHeading.astro";
import MailInput from "./MailInput.astro";
import PillButton from "./PillButton.astro";
---

<div class="grid">
  <div>
    <h1>Ready to talk?</h1>
    <p>
      Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pellentesque habitant morbi tristique.<p></p>
      <PillHeading />
      <MailInput />
      <PillButton />
    </p>
    <div>
      <img src="" alt="hænder" />
      <img src="" alt="baggrund mønster" />
    </div>
  </div>

  <style></style>
</div>
