---
import TeamHeader from "TeamHeader.astro";
import PillButton from "PillButton.astro";
import TeamCard from "TeamCard.astro";
---

<TeamHeader/>
<PillButton/>
<div class="grid">
    <TeamCard/>
    <TeamCard/>
    <TeamCard/>
    <TeamCard/>
    <TeamCard/>
    <TeamCard/>
</div>



<style>

    
</style>